<body class="users_edit_body">
<%= form_with(model: @user, local: true) do |form| %>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1 class="users_edit_h1">プロフィール編集</h1>
<div class="users_edit_div">
<div class="field" id="field_top">

</div>

<table class="field">
  <tr>
    <th><%= form.label :name %></th>
    <th><%= form.text_field :name %></th>
  </tr>
  <tr>
    <th><%= form.label :email %></th>
    <th><%= form.text_field :email %></th>
  </tr>

  <tr>
    <th><%= form.label :password %></th>
    <th><%= form.text_field :password %></th>
  </tr>

  <tr>
    <th><%= form.label :password_confirmation %></th>
    <th><%= form.text_field :password_confirmation %></th>
  </tr>

  <tr>
    <th><%= form.label :profile_image, "プロフィール写真" %></th>
    <th><%= form.file_field :profile_image %></th>
  </tr>

<tr class="actions">
  <th></th>
  <th><%= form.submit %></th>
</tr>

</table>
<% end %>

<div class="user_edit_button">
  <button><%= link_to 'プロフィール', @user %></button>
  <button><%= link_to "投稿一覧", pictures_path %></button>
</div>
</body>
