<h1 class="users_show_h1"><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>

<% if @user.profile_image.present? %>
  <%= image_tag @user.profile_image.url %>
<% else %>
  <%= @user.name %>
<% end %>

<div class="profile_button">
<% if current_user.id == @user.id %>
  <button class="profile_button"><%= link_to 'プロフィール編集', edit_user_path %></button>
  <button class="profile_button"><%= link_to "お気に入り一覧", favorites_id_path %></button>
  <button class="profile_button"><%= link_to "新しい投稿", new_picture_path %></button>
<% end %>
</div>
