<%= form_with(model: @picture, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image, "画像" %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :content, "内容" %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <p class="picture_new_action"><%= form.submit %></p>
  </div>
<% end %>
